div.mainblock {
    background-color: #AAAAAA;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Cursive;
    border-radius: 25px;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    }
h1 {
    text-align: center;
    color: #040004;}
img {
    position: relative;
    width: 15%;
    border-radius: 50%;
    }
div.fio_and_city {
    position: absolute;
    margin-top: -6%;
    margin-left: 10%;
    background-color: #040004;
    border-radius: 15px;
    }
div.experience {
    margin-top: -16%;
    margin-left: 50%;
    background-color: #440054;
    border-radius: 15px;
    }
div.hobby {
    margin-top: 2%;
    margin-right: 54%;
    background-color: #040004;
    border-radius: 15px;
    }
div.text {
    color: #CCCCCC;
    margin-left: 20px;
    margin-right: 20px;
    }
